<div fxFlexFill>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" opened class="sidenav" position="start">
      <div fxLayout fxLayoutAlign="center center">
        <h1>Priorities</h1>
        <div fxFlex></div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="label">close</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div id="priority-list">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>New Priority</mat-label>
          <input matInput [(ngModel)]="newPriorityItem" (keyup.enter)="addListItem()" />
        </mat-form-field>
        <div fxLayout>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Resources Required</mat-label>
            <input matInput type="number" min="0" max="10" [(ngModel)]="newResource" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Priority</mat-label>
            <input matInput type="number" min="0" max="10" [(ngModel)]="newPriority" />
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="addListItem()" color="primary" fxFill>New Item</button>
        <mat-selection-list #priorityList [multiple]="false">
          <mat-list-option
            *ngFor="let item of priorities; let i = index"
            [value]="item"
            (mouseover)="handleHover(item.id, true)"
            (mouseleave)="handleHover(item.id, false)">
            <div fxLayout fxLayoutAlign=" center">
              <div>{{ i + 1 }}. {{ item.title }}</div>
              <div fxFlex></div>
              <button mat-icon-button (click)="removeListItem(i)">
                <mat-icon aria-label="label">delete</mat-icon>
              </button>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <button mat-fab (click)="sidenav.toggle()" id="priority-toggle">
        <mat-icon aria-label="label">menu</mat-icon>
      </button>
      <mat-card id="canvas-container" fxFlexFill fxLayout>
        <div id="matrix"></div>
      </mat-card>
      <button mat-fab (click)="settings.toggle()" id="settings-toggle">
        <mat-icon aria-label="label">settings</mat-icon>
      </button>

      <div id="priority-input-box" fxLayout="column">
        <div fxLayout="row" id="priority-input-box-icon-row">
          <button
            mat-icon-button
            id="priority-input-box-left-icon"
            class="priority-input-box-icon"
            (click)="addListItemFromFloat()">
            <mat-icon aria-label="label">add_circle</mat-icon>
          </button>
          <div fxFlex></div>
          <button
            mat-icon-button
            id="priority-input-box-right-icon"
            class="priority-input-box-icon"
            (click)="hideFloater()">
            <mat-icon aria-label="label">cancel</mat-icon>
          </button>
        </div>
        <mat-card id="priority-input-box-outer">
          <mat-form-field appearance="outline" fxFill>
            <mat-label>New Priority</mat-label>
            <input matInput [(ngModel)]="newPriorityItem" (keyup.enter)="addListItemFromFloat()" />
          </mat-form-field>
        </mat-card>
      </div>
    </mat-sidenav-content>

    <mat-sidenav id="settings-sidenav" #settings mode="over" [opened]="false" class="sidenav" position="end">
      <div fxLayout fxLayoutAlign="center center">
        <button mat-icon-button (click)="settings.toggle()">
          <mat-icon aria-label="label">close</mat-icon>
        </button>
        <h1>Canvas Settings</h1>
      </div>
      <mat-divider></mat-divider>
      <div id="settings-list" fxLayout="column">
        <div id="circle-settings">
          <h2>Circle Settings</h2>
          <p id="circle-settings-description">Use the following options to modify the way that circles are drawn</p>
          <div id="radius-settings">
            <h3>Radius</h3>
            <mat-slider
              fxFill
              max="100"
              min="5"
              thumbLabel="true"
              [(ngModel)]="options.circleRadius"
              (ngModelChange)="updateRadius()">
            </mat-slider>
          </div>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
