.sidenav {
  padding: 1em;
  h1 {
    margin: 0;
  }
  mat-divider {
    margin: 1em 0;
  }
}

#settings-list {
  max-width: 200px;
}

mat-sidenav-container {
  height: 100%;
}

#priority-toggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 1em;
}

#settings-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 1em;
}

.mat-list-single-selected-option,
.mat-list-single-selected-option:hover,
.mat-list-single-selected-option:focus {
  background: inherit;
}

#matrix {
  cursor: copy;
}

.pointer {
  cursor: pointer !important;
}

